<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <title>Registro</title>
    <!--Vue & Axios-->
    <link rel="stylesheet" href="node_modules/primevue/resources/primevue.css">
    <link rel="stylesheet" href="node_modules/primevue/resources/themes/saga-blue/theme.css">
    <link rel="stylesheet" href="node_modules/primeicons/primeicons.css">
    <link rel="stylesheet" href="node_modules/primeflex/primeflex.css">

    <link rel="stylesheet" href="assets/css/estilo.css">

    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


    <!--Components-->
    <script src="node_modules/primevue/inputtext/inputtext.umd.js"></script>
    <script src="node_modules/primevue/button/button.umd.js"></script>
    <script src="node_modules/primevue/datatable/datatable.umd.js"></script>
    <script src="node_modules/primevue/column/column.umd.js"></script>
    <script src="node_modules/primevue/dialog/dialog.umd.js"></script>
    <script src="node_modules/primevue/calendar/calendar.umd.min.js"></script>
    <script src="node_modules/primevue/dropdown/dropdown.umd.js"></script>
    <script src="node_modules/primevue/fileupload/fileupload.umd.js"></script>
    <script src="node_modules/primevue/inputmask/inputmask.umd.js"></script>
    <script src="node_modules/primevue/inputnumber/inputnumber.umd.js"></script>
    <script src="node_modules/primevue/fileupload/fileupload.umd.min.js"></script>
    <script src="node_modules/primevue/radiobutton/radiobutton.umd.js"></script>
    <script src="node_modules/primevue/fieldset/fieldset.umd.min.js"></script>
    <script src="node_modules/primevue/textarea/textarea.umd.min.js"></script>


</head>

<body>
    <input type="checkbox" id="nav-toggle">
    <aside class="sidebar">
        <div class="siderbar__brand">
            <span class="sidebar__logo las la-cube"></span>
            <h2 class="sidebar__brand__title">Evento Dashboard</h2>
        </div>
        <div class="sidebar__menu">
            <ul>
                <li>
                    <a href="#" class="sidebar__menu__link link--active" title="">
                        <i class="far fa-calendar-alt"></i>
                        <span class="">Eventos</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="sidebar__menu__link" title="">
                        <i class="fas fa-pen"></i>
                        <span class="">Example</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="sidebar__menu__link" title="">
                        <i class="fas fa-user-edit"></i>
                        <span class="">Example</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="sidebar__menu__link" title="">
                        <i class="far fa-clipboard"></i>
                        <span class="">Example</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <main class="main" id="app">
        <header class="header" id="header">
            <h3 class="header__buttonToggle">
                <label for="nav-toggle">
                    <span class="fas fa-bars"></span>
                </label>
            </h3>
        </header>
        <br>
        <div class="container">
            <form class="form form--direction">
                <div class="row">
                    <div class="col-md-6">
                        <span class="p-float-label">
                            <p-inputtext id="numeroRegistro" type="text" v-model="numeroRegistro"
                                class="form__input form-control"></p-inputtext>
                            <label for="numeroRegistro">Número de registro</label>
                        </span>
                    </div>
                    <div class="col-md-6">
                        <span class="p-float-label">
                            <p-inputtext id="numeroInvitacion" type="text" v-model="numeroInvitacion"
                                class="form__input form-control"></p-inputtext>
                            <label for="numeroInvitacion">Número de invitación</label>
                        </span>
                    </div>
                </div>
                <br>
                <p-fieldset legend="Datos">
                    <div class="row">
                        <br>
                        <div class="col-md-4">
                            <span class="p-float-label">
                                <p-inputtext id="nombre" type="text" v-model="nombre" class="form__input form-control">
                                </p-inputtext>
                                <label for="nombre">Nombre(s)</label>
                            </span>
                        </div>
                        <div class="col-md-4">
                            <span class="p-float-label">
                                <p-inputtext id="apellidoPaterno" type="text" v-model="apellidoPaterno"
                                    class="form__input form-control"></p-inputtext>
                                <label for="apellidoPaterno">Apellido paterno</label>
                            </span>
                        </div>
                        <div class="col-md-4">
                            <span class="p-float-label">
                                <p-inputtext id="apellidoMaterno" type="text" v-model="apellidoMaterno"
                                    class="form__input form-control"></p-inputtext>
                                <label for="apellidoMaterno">Apellido materno</label>
                            </span>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <br>
                        <div class="col-md-4">
                            <span class="p-float-label">
                                <p-inputtext id="correo" type="text" v-model="correo" class="form__input form-control">
                                </p-inputtext>
                                <label for="correo">Correo personal</label>
                            </span>
                        </div>
                        <div class="col-md-4">
                            <span class="p-float-label">
                                <p-inputtext id="nombreEmpresa" type="text" v-model="nombreEmpresa"
                                    class="form__input form-control"></p-inputtext>
                                <label for="nombreEmpresa">Nombre de la Empresa</label>
                            </span>
                        </div>
                        <div class="col-md-4">
                            <span class="p-float-label">
                                <p-inputtext id="grupo" type="text" v-model="grupo" class="form__input form-control">
                                </p-inputtext>
                                <label for="grupo">Grupo al que pertenece</label>
                            </span>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <span class="p-float-label">
                                <p-inputtext id="telCasa" type="number" v-model="telCasa" class="form__input form-control"></p-inputtext>
                                <label for="telCasa">Teléfono de casa</label>
                            </span>
                        </div>
                        <div class="col-md-4">
                            <span class="p-float-label">
                                <p-inputtext id="celular" type="number" v-model="celular" class="form__input form-control"></p-inputtext>
                                <label for="celular">Teléfono Celular</label>
                            </span>
                        </div>
                        <div class="col-md-4">
                            <span class="p-float-label">
                                <p-inputtext id="telefonoTrabajo" type="number" v-model="telefonoTrabajo" class="form__input form-control"></p-inputtext>
                                <label for="telefonoTrabajo">Teléfono de Trabajo</label>
                            </span>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <span class="p-float-label">
                                <p-inputtext id="rfc" type="number" v-model="rfc" class="form__input form-control"></p-inputtext>
                                <label for="rfc">RFC</label>
                            </span>
                        </div>
                    </div>
                </p-fieldset>
                <br>
                <p-fieldset legend="Dirección">
                    <div class="row">
                        <div class="col-md-4">
                            <span class="">
                                <p-dropdown v-model="selectPrioridad" :options="arrayPrioridad" option-label="prioridad"
                                    placeholder="Selecciona un País" id="pais" class="form__input form-control"></p-dropdown>

                            </span>
                        </div>
                        <div class="col-md-4">
                            <span class="p-float-label">
                                <p-inputtext id="estado" type="text" v-model="estado" class="form__input form-control">
                                </p-inputtext>
                                <label for="estado">Estado</label>
                            </span>
                        </div>
                        <div class="col-md-4">
                            <span class="p-float-label">
                                <p-inputtext id="ciudad" type="text" v-model="ciudad" class="form__input form-control">
                                </p-inputtext>
                                <label for="ciudad">Ciudad</label>
                            </span>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <span class="p-float-label">
                                <p-inputtext id="codigoPostal" v-model="codigoPostal" type="number" class="form__input form-control"></p-inputtext>
                                <label for="codigoPostal">Código postal</label>
                            </span>
                        </div>
                        <div class="col-md-4">
                            <span class="p-float-label">
                                <p-inputtext id="colonia" type="text" v-model="colonia" class="form__input form-control"></p-inputtext>
                                <label for="colonia">Colonia</label>
                            </span>
                        </div>
                        <div class="col-md-4">
                            <span class="p-float-label">
                                <p-inputtext id="direccion" type="text" v-model="direccion" class="form__input form-control"></p-inputtext>
                                <label for="direccion">Dirección</label>
                            </span>
                        </div>
                    </div>
                </p-fieldset>
                <br>
                <p-fieldset legend="Contacto de Emergencia">
                    <div class="row">
                        <div class="col-md-4">
                            <span class="p-float-label">
                                <p-inputtext id="nombreEmergencia" type="text" v-model="nombreEmergencia" class="form__input form-control"></p-inputtext>
                                <label for="nombreEmergencia">Nombre de contacto de emergencia</label>
                            </span>
                        </div>
                        <div class="col-md-4">
                            <span class="p-float-label">
                                <p-inputtext id="correoEmergencia" type="text" v-model="correoEmergencia" class="form__input form-control"></p-inputtext>
                                <label for="correoEmergencia">Correo de contacto de emergencia</label>
                            </span>
                        </div>
                        <div class="col-md-4">
                            <span class="p-float-label">
                                <p-inputtext id="telEmergencia" type="number" v-model="telEmergencia" class="form__input form-control"></p-inputtext>
                                <label for="telEmergencia">Teléfono de emergencia</label>
                            </span>
                        </div>
                    </div>
                </p-fieldset>
                <br>
                <p-fieldset legend="Otros">
                    <div class="row">
                        <div class="col-md-4">
                            <span class="p-float-label">
                                <div >
                                    <label for="numSax">¿Tiene número de Sales Sax?</label>
                                </div>
                            </span>
                            <br>
                            <div class="radio__input d--flex">
                                <div class="field-radiobutton ">
                                    <p-radiobutton id="opcionSiSax" name="opcionSiSax" value="opcionSiSax" v-model="salesSax"></p-radiobutton>
                                    <label for="opcionSiSax">Si</label>
                                </div>
                            </div> 
                            <div class="radio__input d--flex">
                                <div class="field-radiobutton">
                                    <p-radiobutton id="opcionNoSax" name="opcionNoSax" value="opcionNoSax" v-model="salesSax"></p-radiobutton>
                                    <label for="oopcionNoSax">No</label>
                                </div>
                            </div>
                            <br>
                            <div id="salesSax">
                                <span class="p-float-label">
                                    <p-inputtext id="numSalesTax" type="number" v-model="numSalesTax" class="form__input form-control"></p-inputtext>
                                    <label for="numSalesTax">Número de Sales Tax*</label>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <span class="p-float-label">
                                <div>
                                    <label for="otroEvento">¿Ha participado en otro evento en USA?</label>
                                </div>
                            </span>
                            <br>
                            <div class="radio__input d--flex">
                                <br>
                                <div class="field-radiobutton ">
                                    <p-radiobutton id="opcionSiOtro" name="opcionSiOtro" value="opcionSiOtro" v-model="otro"></p-radiobutton>
                                    <label for="opcionSiOtro">Si</label>
                                </div>
                            </div> 
                            <div class="radio__input d--flex">
                                <div class="field-radiobutton">
                                    <p-radiobutton id="opcionNoSax" name="opcioNoOtro" value="opcioNoOtro" v-model="otro"></p-radiobutton>
                                    <label for="opcionSiOtro">No</label>
                                </div>
                            </div>
                            <br>
                            <span class="p-float-label">
                                <p-inputtext id="nombreEvento" type="number" v-model="nombreEvento" class="form__input form-control"></p-inputtext>
                                <label for="nombreEvento">Indique cuál</label>
                            </span>
                        </div>
                        <div class="col-md-4">
                            <div class="grid form__group">
                                <span class="p-float-label">
                                    <div>
                                        <label for="exportas">¿Ya exporta actuamente?</label>
                                    </div>
                                </span>
                                <div class="radio__input d--flex">
                                    <div class="field-radiobutton ">
                                        <p-radiobutton id="exportaSi" name="exportaSi" value="Si" v-model="exporta"></p-radiobutton>
                                        <label for="exportaSi">Si</label>
                                    </div>
                                </div> 
                                <div class="radio__input d--flex">
                                    <div class="field-radiobutton">
                                        <p-radiobutton id="exportaNo" name="exportaNo" value="No" v-model="exporta"></p-radiobutton>
                                        <label for="exportaNo">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <span class="p-float-label">
                                <p-textarea v-model="tipoProductos" :auto-resize="true" rows="2" cols="20" id="tipoProductos" class="form__input form-control"></p-textarea>
                                <label for="tipoProductos">Tipo de producto(s) que venderá en el evento</label>
                            </span>
                        </div>
                        <div class="col-md-4">
                            <div class="grid form__group">
                                <span class="p-float-label">
                                    <div>
                                        <label for="alimento">¿Venderá alimentos?</label>
                                    </div>
                                </span>
                                <div class="radio__input d--flex">
                                    <div class="field-radiobutton ">
                                        <p-radiobutton id="alimentosSi" name="alimentosSi" value="alimentosSi" v-model="alimentos"></p-radiobutton>
                                        <label for="alimentosSi">Si</label>
                                    </div>
                                </div> 
                                <div class="radio__input d--flex">
                                    <div class="field-radiobutton">
                                        <p-radiobutton id="alimentosNo" name="alimentosNo" value="alimentosNo" v-model="alimentos"></p-radiobutton>
                                        <label for="alimentosNo">No</label>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="grid form__group">
                                <span class="p-float-label">
                                    <div>
                                        <label for="registroSanitario">¿Tiene registro sanitario de USA FDA?</label>
                                    </div>
                                </span>
                                <br>
                                <div class="radio__input d--flex">
                                    <div class="field-radiobutton ">
                                        <p-radiobutton id="regSanitarioSi" name="regSanitarioSi" value="Si" v-model="regSanitario"></p-radiobutton>
                                        <label for="regSanitarioSi">Si</label>
                                    </div>
                                </div> 
                                <div class="radio__input d--flex">
                                    <div class="field-radiobutton">
                                        <p-radiobutton id="regSanitarioNo" name="regSanitarioNo" value="No" v-model="regSanitario"></p-radiobutton>
                                        <label for="regSanitarioNo">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="grid form__group">
                                <span class="p-float-label">
                                    <div>
                                        <label for="pAlimentos">¿Prepara alimentos?</label>
                                    </div>
                                </span>
                                <br>
                                <div class="radio__input d--flex">
                                    <div class="field-radiobutton ">
                                        <p-radiobutton id="prepAlimentosSi" name="prepAlimentosSi" value="Si" v-model="prepAlimentos"></p-radiobutton>
                                        <label for="prepAlimentosSi">Si</label>
                                    </div>
                                </div> 
                                <div class="radio__input d--flex">
                                    <div class="field-radiobutton">
                                        <p-radiobutton id="prepAlimentosNo" name="prepAlimentosNo" value="No" v-model="prepAlimentos"></p-radiobutton>
                                        <label for="prepAlimentosNo">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="grid form__group">
                                <span class="p-float-label">
                                    <div>
                                        <label for="participacion">¿Ha participado en eventos anteriores con nosotros?</label>
                                    </div>
                                </span>
                                <br>
                                <div class="radio__input d--flex">
                                    <div class="field-radiobutton ">
                                        <p-radiobutton id="participacionSi" name="participacionSi" value="Si" v-model="participacion"></p-radiobutton>
                                        <label for="prepAlimentosSi">Si</label>
                                    </div>
                                </div> 
                                <div class="radio__input d--flex">
                                    <div class="field-radiobutton">
                                        <p-radiobutton id="participacionNo" name="participacionNo" value="No" v-model="participacion"></p-radiobutton>
                                        <label for="prepAlimentosNo">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <span class="p-float-label">
                                <p-textarea v-model="comentarios" :auto-resize="true" rows="2" cols="20" id="comentarios" class="form__input form-control"></p-textarea>
                                <label for="comentarios">Comentarios</label>
                            </span>
                        </div>
                        <div class="col-md-4">
                            
                        </div>
                    </div>
                </p-fieldset>
            </form>
        </div>
    </main>

    <script>
        var vm = new Vue({
            components: {
                'p-datatable': datatable,
                'p-column': column,
                'p-inputtext': inputtext,
                'p-inputnumber': inputnumber,
                'p-dropdown': dropdown,
                'p-button': button,
                'p-calendar': calendar,
                'p-fileupload': fileupload,
                'p-inputmask': inputmask,
                'p-radiobutton': radiobutton,
                'p-fieldset': fieldset,
                'p-textarea': textarea,
            },
            data() {
                return {
                    arrayPrioridad: [{
                        prioridad: "Canada"
                    }, {
                        prioridad: "Mexico"
                    }, {
                        prioridad: "USA"
                    }
                    ],
                    selectPrioridad: null,
                    numeroRegistro: "",
                    numeroInvitacion: "",
                    nombre: "",
                    apellidoPaterno: "",
                    apellidoMaterno: "",
                    correo: "",
                    nombreEmpresa: "",
                    grupo: "",
                    telCasa: "",
                    celular: "",
                    telefonoTrabajo: "",
                    rfc: "",
                    estado: "",
                    ciudad: "",
                    codigoPostal: "",
                    colonia: "",
                    direccion: "",
                    nombreEmergencia: "",
                    correoEmergencia: "",
                    telEmergencia: "",
                    numSalesTax: "",
                    nombreEvento: "",
                    tipoProductos: "",
                    comentarios: "",
                }
            },
            mounted() {


            },
            methods: {
                onUpload() {
                    alert("Exito");
                }
            },
        }).$mount('#app');
    </script>
</body>

</html>