*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    background-color: $body-color;
}
a{
    text-decoration: none;
}
.d--flex{
display: flex;
}
.j--center{
    justify-content: center;
}